* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body {
    background-color: black;
    overflow-x: hidden;
}
.gallery {
    width: 100%;
}
.gallery img {
    display: block;
    width: 100% !important;
    height: auto !important;
}
